@import 'common';
h1{
    padding: 40px 50px;
    img{
        width:200px;
    }
}
#banner{
    overflow: hidden;
    #banner-content{
        position: relative;
        margin:0 auto;
        width:1190px;
        height:700px;
        img{
            width:1400px;
            position: absolute;
            left:-100px;
        }
        section{
            width:240px;
            height:340px;
            background:#fff;
            position:absolute;
            right:60px;
            top:60px;
            z-index:10;
            padding:40px;
            b{
                font-weight: 800;
            }
            p{
                width:240px;
                height:40px;
                border:1px solid #000;
                line-height:40px;
                margin:20px 0;
                i{
                    display: block;
                    width:40px;
                    height:40px;
                    background:#ccc;
                    text-align: center;
                    float:left;
                }
                input{
                    float:left;
                    width:180px;
                    display:block;
                    padding-left:5px;
                    line-height:40px;
                    font-size:16px;
                }
            }
            .log{
                display: block;
                width:240px;
                height:40px;
                background:red;
                color:#fff;
                text-align: center;
                border-radius: 3px;
                font-size:16px;
                margin-bottom:20px;
            }
            ul{
                li{
                    float:right;
                    font-size:12px;
                    margin:6px;
                    a{
                        color:gray;
                    }
                    a:hover{
                        color:red;
                    }
                }
            }
        }
    }
}
